<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Vue Beginner</title>
    <style>
        body {
            margin : 5%;
            font-family: 'Quicksand', sans-serif;
        }
    </style>
</head>
<body>
    <div id="app">
    <header>
        <img src="img/vue.jpg" alt="Logo vue" width="89">
        <h1 v-once>{{ getName() }}</h1>
        <h2 v-text="member.name"></h2>
        <!-- penulisan code 23 sama dengan baris ke 20 -->
        <h2 v-text="getName()"></h2>
        <h3>{{ fullName }}</h3>
        <p>Bilangan {{bilangan}} adalah bilangan {{infoNumber}}</p>
        <p>{{ totalPay }}</p>
        <img v-bind:src="gambar" alt="poster covid" width="250">
        <p>The progressive Javascript framework</p>
    </header>

    <footer id="footer">
        <p>Copyright 2021 - TYS</p>
    </footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    const member = {
        name : 'Tiara Yasmine Soraya',
        kelas : 'Vue JS'
    }
    const vm = new Vue({
        el : '#app',
        data : {
            member,
            message : 'Hello World',
            qty : 1,
            firstName : 'Soraya',
            lastName : 'Yasmine',
            bilangan : 3,
            gambar : '/img/poster.jpg'
        },
        methods : {
            getName : function() {
                return 'Hello , ' + this.member.name;
            },
            changeName : function(namaBaru){
                this.name = namaBaru;
            }
        }, 
        computed : {
            totalPay : function(){
                return this.qty = 10000
            },
            fullName : function(){
                return this.firstName + ' ' + this.lastName
            },
            infoNumber : function(){
                return this.bilangan %2 === 0 ? 'Genap' : 'Ganjil'
            }
        }
    })
</script>
</body>
</html>